
common/scripted_effects/01_start_of_game_effects.txt.bak
common/pop_jobs/03_worker_jobs.txt.bak
common/pop_jobs/02_specialist_jobs.txt.bak
common/defines/00_defines.txt.bak
common/ascension_perks/00_ascension_perks.txt.bak
common/pop_jobs/01_ruler_jobs.txt.bak
common/pop_jobs/04_gestalt_jobs.txt.bak
common/scripted_variables/00_scripted_variables.txt.bak
